{% extends 'layout.html' %}
{% load static %}
{% load dynamic_html %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free-6.3.0-web/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free-6.3.0-web/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free-6.3.0-web/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block content %}

    <div class="side-bar">
        <div class="brand">
            <div class="logo">
                <a href={% url 'home' %}><img src="{% static 'images/logo_2.png' %}"></a>
            </div>
            <div class="toggle-switch">
                <i class="uil uil-bars"></i>
            </div>

        </div>
        <div class="menu-body">

            <div class="menu">
                {% dynamic_menu request %}
            </div>

        </div>
    </div>

    <div class="right-box">
        <div class="header-box">
            <div class="user-box">
                <div class="message">
                    {#                    <i class="uil uil-bell"></i>#}
                    <i class="fa-regular fa-bell"></i>
                </div>
                <div class="user-all">
                    <div class="avatar-home">
                        <img src={% static 'images/github.png' %} }>
                    </div>

                    <div class="user-options d-none">
                        <div class="option">
                            <a href="/user_center/" class="logout">Account</a>
                        </div>
                        <div class="option">
                            <a href="/logout/" class="logout">Record</a>
                        </div>
                        <div class="option">
                            <a href="/logout/" class="logout">Logout</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="content-box">
            {% dynamic_breadcrumb request %}
        </div>
    </div>

{% endblock %}