{% extends 'layout.html' %}
{% load static %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block content %}

    <div class="side-bar">
        <div class="brand">
            <div class="logo">
                <a href={% url 'home' %}><img src="{% static 'images/logo_2.png' %}"></a>
            </div>
            <div class="toggle-switch">
                <i class="uil uil-bars"></i>
            </div>

        </div>
        <div class="menu-body">

            <div class="menu">
                <div class="level-1">
                    <i class="uil uil-users-alt"></i>
                    <span>User Management</span>
                    <i class="uil uil-angle-down"></i>

                    <div class="level-2 d-none">
                        <a href="/users/">user list</a>
                    </div>

                    <div class="level-2 d-none">
                        <a href="/transaction_records/">transaction records</a>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <div class="right-box">
        <div class="header-box">
            <div class="user-box">
                <div class="message">
                    <i class="uil uil-bell"></i>
{#                    <i class="fa-light fa-bell"></i>#}
                </div>
                <div class="user-all">
                    <div class="avatar-home">
                        <img src={% static 'images/github.png' %} }>
                    </div>

                    <div class="user-options">
                        <div class="option">
                            <a href="/user_center/" class="logout">Account</a>
                        </div>
                        <div class="option">
                            <a href="/logout/" class="logout">Record</a>
                        </div>
                        <div class="option">
                            <a href="/logout/" class="logout">Logout</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="content-box"></div>
    </div>

{% endblock %}