{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="register_box">

            <div class="register_title">
                Register
            </div>
            <div class="register_div">
                <div class="form-box">
                    <form method="post" novalidate>
                        <div class="form-group">
                            {{ form.username }}
                            <i class="input-icon uil uil-at"></i>
                            <span class="error-info">{{ form.username.errors.0 }}</span>
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                            <i class="input-icon uil uil-lock-alt"></i>
                            <span class="error-info">{{ form.password.errors.0 }}</span>
                        </div>

                        <div class="form-group">
                            {{ form.password_repeat }}
                            <i class="input-icon uil uil-lock-alt"></i>
                            <span class="error-info">{{ form.password_repeat.errors.0 }}</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn register-btn">register</button>
                            <a class="register" href="/login/">Already have an account</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

{% endblock %}