<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>study experience</title>
    <style>
        body {
            background-color: #f5f5f5;
        }

        .box {
            background-color: #ffffff;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            margin: 0 auto;
            padding: 20px;
            width: 800px;
        }

        p {
            font-size: 15px;
            line-height: 1.5;
            margin: 0 0 10px;
        }

        strong {
            font-size: 17px;
        }
    </style>
</head>
<body>
<div class = "box">
    <p>During my undergraduate studies in Computer Science, I majored in Systems Programming and Cyber Security.
        Throughout my
        time in university, I took a variety of courses that exposed me to a broad range of topics in computer science.
        Some of
        the key courses I took include:</p>
    <p>1. <strong>Data Structures and Algorithms</strong>: This course focused on implementing data structures such as
        stacks, various types of
        linked lists, and binary trees using C++. For the course project, I developed a game called HexGame, which
        utilized
        algorithms such as backtracking and Monte Carlo simulations.</p>
    <p>2. <strong>Systems Programming</strong>: This course delved into the implementation details of operating systems
        at a low level. For the
        course project, I used C to implement Linux commands like "cd" and "cp" as well as sockets.</p>
    <p>3. <strong>Computer Organization</strong>: In this course, we studied the underlying logic of the MIPS chip,
        including its arithmetic
        logic unit and control unit. For the course project, I used assembly language in a simulator to implement
        higher-order
        functions and run complex programs on the MIPS architecture.</p>
    <p>4. <strong>Network Security</strong>: This course covered various encryption algorithms, from the basic Caesar
        cipher to asymmetric
        encryption and digital signatures. For the course project, I implemented symmetric and asymmetric encryption
        algorithms
        using C and designed a process for using encryption algorithms and key exchange to secure network transmissions.
    </p>
    <p>5. <strong>Computer Security</strong>: This course focused on protecting computers from attacks. For the course
        project, I conducted a
        scan of a target machine, identified vulnerabilities, and successfully attacked it to gain root access.</p>
    <p>6. <strong>Web Development</strong>: This series of courses covered MySQL databases, PHP web development, and C#
        web development. For
        these courses, I developed a music website using PHP and a hotel booking and order management system using C#
        (.NET).</p>
    <p>7. <strong>Mobile Development</strong>: This course covered the development of Android and iOS mobile
        applications. For the course
        project, I developed a to-do list app for both Android and iOS.</p>
    <p>8. <strong>Internship Project</strong>: As part of my undergraduate studies, I collaborated with a group of
        classmates on an internship
        project for a startup company based in Brisbane, Australia. The company wanted to develop a flash card game
        website, and
        I took on the role of lead developer for the project. Over a period of three months, I taught myself Django and
        Bootstrap and successfully completed the development of the website.</p>
</div>
</body>
</html>