.logo {
    position: absolute;
    float: left;
    left: 10px;
    top: 1px;
    color: #0068FF;
}

.logo > a > img {
    /*max-width: 100%;*/
    width: 170px;
    height: 58px;
    vertical-align: middle;
}

.toggle-switch {
    position: absolute;
    top: 1px;
    left: 192px;
    width: 55px;
    height: 57px;
}

.uil-bars {
    float: right;
    font-size: 30px;
    margin-right: 11px;
    margin-top: 5px;
}

.toggle-switch:hover {
    cursor: pointer;
    color: #5B89FE;
}

.user-box {
    float: right;
    width: 150px;
    margin-top: 10px;
}

.message {
    float: left;
    margin-top: 3px;
}

.uil-bell {
    display: block;
    font-size: 36px;
    margin-left: -9px;
    margin-top: -10px;
}

.user-all {
    float: right;
    position: absolute;
}

.avatar-home {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    left: 50px;
}

.avatar-home:hover {
    border: #5B89FE solid 2px;
}

.avatar-home > img {
    width: 100%;
    height: 100%;
}

.user-options {
    position: relative;
    width: 120px;
    background-color: #f4f5fc;
    border-radius: 10px;
    right: -10px;
    top: 49px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 99;
    padding: 10px 0;
    font-size: 15px;
}

.option{
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 8px;
    color: #0f0f0f;
}

.option:hover{
    background-color: #5B89FE;
    cursor: pointer;
}