* {
    margin: 0;
    padding: 0;
}


.side-bar{
    background-color: #f4f5fc;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    border: 1px solid #e0e1e7;
}

.side-bar > .brand{
    height: 60px;
    border-bottom: 1px solid #e0e1e7;
    padding: 10px;
}

.side-bar > .menu-body{
    margin-top: 10px;
    overflow: auto;
}

.right-box{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #e0e1e7;
}

.header-box{
    height: 60px;
    background-color: #f4f5fc;
}

.content-box{
    position: absolute;
    background-color: #f2f2f2;
    border: 1px solid #e0e1e7;
    border-bottom: none;
    top: 59px;
    left: -1px;
    right: 0;
    bottom: 0;
    padding: 8px 25px;
    font-size: 14px;
    overflow: scroll;
}

.breadcrumb-item > a{
    color: #2b5dff;
}

.breadcrumb-item{
    font-size: 16px;
}

.breadcrumb-item > a:hover{
    color: #ff5c2b;
}