a{
    text-decoration: none;
    color: #0f0f0f;
}

.menu {
    float: left;
    line-height: 40px;
    font-size: 15px;
    width: 100%;
    user-select: none;
    color: #141933;
}


.level-1 {
    position: relative;
    background-color: #f4f5fc;
}

.level-1:hover {
    color: #5B89FE;
    cursor: pointer;
}

.uil-users-alt {
    font-size: 20px;
    margin-right: 6px;
    margin-left: 25px;
    color: #3e4142;
}

.uil-angle-down {
position: relative;
    font-size: 28px;
    float: right;
    right: 11px;
    top: 3px;
    transition: all 0.4s;
    transform: rotate(90deg);
    color: #3e4142;
}

.uil-angle-down-rotate {
    transform: rotate(0deg);
}

.level-2 {
    height: 40px;
    line-height: 40px;
    padding-left: 71px;
    border-radius: 3px;
    user-select: none;
}

.level-2:hover{
    background-color: #5B89FE;
    cursor: pointer;
}

.level-2:hover a{
    color: #fff;
}

.choice {
    background-color: #5B89FE;
}

.choice a{
    color: #fff;
}