body {
    background-color: #f2f2f2;
    font-size: 14px;
}

.register-btn {
    width: 229px;
    height: 38px;
    margin-left: 48px;
    margin-top: 20px;
    line-height: 26px;
    border-radius: 12px;
    font-size: 16px;
    border: none;
    background-color: #5B89FE;
    color: #fff;
}

.register-btn:hover {
    background-color: #5B89FE;
    color: #fff;
}

.register_box {
    width: 470px;
    height: 486px;
    margin: 150px auto;
    border-radius: 25px;
    background-color: #fff;
    position: relative;
    box-shadow: 5px 10px 10px rgb(0 0 0 / 10%);
}

.register_title {
    color: #5B89FE;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    padding-top: 23px;

}


.register {
    color: #aaa;
    cursor: pointer;
    position: absolute;
    right: -47px;
    bottom: -45px;
    text-decoration: none;
}

.register:hover {
    color: #5B89FE;
    text-decoration: none;
}



.form-group {
    position: relative;
    display: block;
    margin: 0 auto 25px;
    width: 316px;
    height: 70px;
    /*padding-bottom: 0;*/
}


.no-border {
    padding: 23px 5px;
    height: 40px;
    width: 100%;

    border-top: none;
    border-right: none;
    border-left: none;
    line-height: 22px;
    letter-spacing: 0.5px;
    border-bottom: #ebebeb solid 1px;
    outline: none;
}

.form-box {
    margin-top: 13px;
}

.input-icon {
    position: absolute;
    top: 0;
    left: -31px;
    height: 40px;
    font-size: 20px;
    line-height: 44px;
    text-align: left;
    color: red;
}

.error-info{
    color: red;
    font-size: 15px;
    margin-left: 5px;
    height: 15px;
}